/* color */
/* backgroudcolor rgba(229, 229, 229, 1) */
/* second_backgroudcolor rgba(245, 244, 250, 1) */
/* front_text_color rgba(33, 33, 33, 1) *
    /* second_text_color rgba(117, 117, 117, 1) */
/* hover_text_color rgba(33, 150, 243, 1) */
/* adress_mailphone_color rgba(255, 255, 255, 0.6) */
/* footer_color: rgba(0, 0, 0, 1) */
:root {
  --backgroud_color_var: rgba(255, 255, 255, 1);
  --second_backgroud_color: rgba(229, 229, 229, 1);
  --primary_text_color: rgba(33, 33, 33, 1);
  --second_text_color: rgba(117, 117, 117, 1);
  --white_color_text: rgba(255, 255, 255, 1);
  --hover_text_color: rgba(33, 150, 243, 1);
  --footer_color: rgba(0, 0, 0, 1);
  --border_image: rgba(47, 48, 58, 1);
  --mailphone_footer: rgba(255, 255, 255, 0.6);
  --image_theme: rgba(238, 238, 238, 1);
}
.container {
 display: block;
  justify-items: center;
  align-items: center;
  margin: auto;
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}
a {
  display: block;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1, h2, h3, h4, p {
  margin: 0%;
  padding: 0%;
  border: 0ch;
}
.body {
  background-color: var(--backgroud_color_var);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary_text_color);
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-right: auto;
}
.hide-text {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
button {
  font-family: inherit;
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;x
  padding-inline-start: 1;
}
.section {
  padding-top: 94px;
}
/* Логотип верх */
.web-logo,
.studio-logo-head {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.head {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 80px;
}


.web-logo {
  color: var(--hover_text_color);
}
.studio-logo-head {
  color: var(--primary_text_color);
}
/* навигация шапки */
.site-nav {
  display: flex;
  margin-left: 90px;
  padding-left: 0%;
}
.site-nav .site-nav-item  {
  margin-right: 50px;
}
.site-nav .site-nav-item:last-child {
margin-right: 0px;

}
.phone-mail {
  display: flex;
  padding-left: 0px;
  padding-right: 0px;
  border-right: 0px;
  margin-left: auto;
}
.phone-mail .mailphone-head {
  padding-right: 0px;
  border-right: 0px;
}
.phone-mail .phone-head{
  margin-left: 40px;
}

ul > .linknow a {
  color: var(--hover_text_color);
}
.head_navigator {
  color: var(--primary_text_color);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.head_navigator:hover {
  color: var(--hover_text_color);
}
.head_navigator:focus {
  color: var(--hover_text_color);
}
.mailphone-head {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--second_text_color);
}
.mailphone-head:hover {
  color: var(--hover_text_color);
}
.mailphone-head:focus {
  color: var(--hover_text_color);
}
/* BIG IMAGE */
.big-image {
  background-color: var(--border_image);
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  align-items: center;
  justify-content: center;
}
.big-image-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white_color_text);
  flex-wrap: wrap;
}
.button-hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: block;
  letter-spacing: 0.06em;
  color: var(--white_color_text);
  background-color: var(--hover_text_color);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.button-hero:hover {
  background-color: rgb(0, 140, 255);
}

.button-hero:focus {
  background-color: rgb(0, 140, 255);
  color: var(--white_color_text);
}
/* особенности */
.text-h-index {
  font-weight: 700;
  text-transform: uppercase;
}
.peculiarity {
  display: flex;
  justify-content: space-between;
}

.peculiarity .item {
  margin-right: 30px;
  padding-right: 0px;
  align-items: center;
  height: 101px;
  width: 270px;
  
}
.peculiarity .item:last-child {
 margin-right: 0%;
}
.text-p-index {
  color: var(--second_text_color);
  margin-top: 10px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* чем мы занимаемся */
.doing {
  justify-content: space-between;
  padding-bottom: 82px;
  margin-left: auto;
}
.doing .item {
  display: flex;
  margin-top: 50px;
  padding-left: 0px;
}



/* myteam */
.myteam {
  background-color: var(--second_backgroud_color);
  
}
.myteam .title {
  padding-bottom: 50px;
}
.photo_myteam {
  background-color: var(--white_color_text);
  margin-right: 30px;
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 94px;
}
.photo_myteam:last-child {
  margin-right: 0px;
  border: 0cm;
}
.ul_myteam {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  align-items: flex-start;
}
.name_team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 18px;
  text-align: center;
}
.work_place {
  text-align: center;
  color: var(--second_text_color);
  font-size: 16px;
  line-height: 1.18;
}
.text_myteam {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  border-top: 0px;

}
/* Логотип футер */
.studio-logo-foot,
.adres_street {
  color: var(--white_color_text);
}
.adress-footer {
  color: var(--mailphone_footer);
}
/*футер */
.footer {
  background-color: var(--primary_text_color);
  height: 252px;
  border-top: 12px;
}
.footer-logo {
  padding-top: 60px;
  padding-bottom: 30px;
}
.adress-footer,
.adres_street {
  font-family: 'Roboto';
  font-style: normal;
  cursor: default;
  line-height: 1.9;
}
.adress-footer:hover,
:focus {
  color: var(--hover_text_color);
}
.contact-footer {
  padding: 0%;
}
/* PORTFOLIO PAGE */
.button-portf button {
  background-color: var(--second_backgroud_color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  padding: 6px 25px;
}
.button-portf button:hover {
  background-color: var(--hover_text_color);
  color: var(--white_color_text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-portf button:focus {
  background-color: var(--hover_text_color);
  color: var(--white_color_text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08):
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* portfolio list */
.portfolio-list {
  display: flex;
   padding-left: 0px;
   justify-content: center;
   margin-bottom: 0px;
}
.button-portf {
  margin-right: 10px;
  padding-left: 0px;
}
.button-portf:last-child {
  margin-right: 0px;
}
.portfolio-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary_text_color);
}
.portf-paragraf {
  font-size: 16px;
  line-height: 30px;
  color: var(--second_text_color);
}
.portfolio-class {
  flex-wrap: wrap;
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 94px;
  justify-content: space-between;
  ma
}
.portfolio-class:nth-last-child(3) {
  margin-bottom: 0px;
}
.image-text {
  min-width: 370px;
  margin-bottom: 30px;
  margin: 0px;
}
.image-text:nth-last-child(-n +3) {
  margin-bottom: 0px;
}

.image-text .item {
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  justify-content: space-between;
  max-width: 360px;
  width: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
.porfolio_img {
  min-width: 370px;
}